<!-- 4. Output the animalType string, pet boolean, and fierceness number to the page -->
<ul>
  <li>Animal type: {{animalType}}</li>
  <li>Is pet: {{pet}}</li>
  <li>Fierceness: {{fierceness}}</li>
</ul>