/**
 * Float Layout Activity
 **/

* {
  box-sizing: border-box;
  text-align: center;
}

body {
	font-size: 24px;
}

header {
  padding: 20px;
  margin-bottom: 20px;
  color: #333;
  background: #ccc;
}

section {
	padding: 20px;
	margin-bottom: 20px;
}

#left {
	float: left;
	width: 33%;
	background-color: #666;
	color: #fff;
}

#middle {
	float: left;
	width: 33%;
	background-color: #888;
	color: #fff;
}

#right {
	float: left;
	width: 33%;
	background-color: #666;
	color: #fff;
}

#full {
	clear: both;
	overflow: auto;
	width: 100%;
	background-color: #eee;
}

#division {
	background-color: #6ea3da;
	padding: 20px;
	margin-top: 20px;
}

aside {
	background-color: #fff;
	width: 33%;
	height: 200px;
	border: 1px solid #eee;
	padding: 20px;
	float:left;
	margin-left: 30px;

}

footer {
	clear: both;
	background-color: #ccc;
	padding: 20px;
}